<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="../style.css">
     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Social Media</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{# if auth}}
       <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Profile
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/myposts">My Posts</a>
          <a class="dropdown-item" href="/followers">My Followers</a>
          <a class="dropdown-item" href="/followings">My Followings</a>
        </div>
      </li>
       </ul>
      <a class="nav-item nav-link" href="/createpost">Create Post</a>
      <a class="nav-item nav-link" href="/follow">Follow Users</a>
      <a class="nav-item nav-link" href="/logout">LogOut</a>
      {{else}}
      <a class="nav-item nav-link" href="/register">Register</a>
      <a class="nav-item nav-link disabled" href="/login">Login</a>
       {{/if}}
    </div>
  </div>
   </nav>
<br>
 <h3 align="center">Sign Up</h3>
 <br>
    <form method="POST" action="/register" align="center">
        <table id="table" align="center">
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name" required placeholder="Enter Your Name"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="email" name="email" required placeholder="Enter Your Email"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" required placeholder="Enter Your Password"></td>
            </tr>
        </table><br>
        <input type="submit" value="Sign Up!" align="center" class="btn btn-primary">
    </form><br>
<p align="center"><b>Already a user? <a href="/login">Login!</a></b></p>

<div class="container" style="padding-bottom: 50px;">
  <a href="/" class="btn btn-primary" >Go Back</a>
</div>
</body>
</html>